body {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.products {
    width: 1080px;
    margin: 0px auto 40px;
}

.products .title {
    text-align: center;
}

.products .title h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(243, 12, 12);
    opacity: 60%;
    margin: 40px auto 20px;
}

.products .list .card {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.products .list .card h3 {
    font-weight: bold;
    font-style: 20px;
    margin-bottom: 10px;
}

.products .list .card .description {
    font-weight: normal;
    opacity: .6;
    margin-bottom: 20px;
}

.products .list .card .logo {
    display: inline-block;
}